.header-full-part {
    float: left;
    width: 100%;
    .header-normal-part {
        width: 80%;
        margin: 0px auto;
        padding: 20px 0;
        border-bottom: 1px solid gainsboro;
        display: flex;
        justify-content: space-between;
        h1{
            margin: 0;
            font-weight: normal;
            span {
                font-weight: 600;
            }

        }
    }
}
